Ecommerce/.vs/
Ecommerce/Ecommer.Core/bin/
Ecommerce/Ecommer.Core/obj/
Ecommerce/Ecommerce.Common/obj/
Ecommerce/Ecommerce.EF/obj/
Ecommerce/Ecommerce.Infrastructure/obj/
Ecommerce/Ecommerce/bin/
Ecommerce/Ecommerce/obj/
Ecommerce/Ecommerce/wwwroot/
