@{
    ViewData["Title"] = "About";
}

@section Breadcrumb {
    <li class="active"><strong>@ViewData["Title"]</strong></li>
}


<section class="jumbotron">
        <div class="row">
            <div class="col-md  content-wrapper" style="margin-left:437px">
                <h1 class="jumbotron-title display-1">
                    <p style="color:#89D6F3; margin-top:0px;font-size: 4.875rem;font-family: 'Roboto Slab';">RE-MATE</p>
                </h1>
                <h4 class="jumbotron-subtitle" ">
                    <p>Sistema web de ventas</p>
                </h4>
            </div>
        </div>
        <div class="overlay"></div>

        <div class="jumbotron-overlay"></div>
</section>
<div class="col-6 jumbotron2">
    <div class="page-section-headline" style="text-align:center;padding:62px">
        <p style="text-align: center;
        font-size: 18px;
        font-weight: 400;
        width: 46%;
        height: 100%;
        margin-left:274px;
        padding-left:inherit;">
            RE-MATE es una start-up formada por jovenes profesionales con una exitosa
            trayectoria en posiciones de liderazgo en empresas multinacionales.
            Compartiendo una vision que pone el foco en la agilidad y la simpleza
            operativa, hemos desarrollado un modelo basado en las mejores practicas
            de gestion y administracion para grandes y pequenos vendedores.<br />
            Llevamos mas de cuatro anos en el mercado desarrollando tecnologia de
            vanguardia para brindar soluciones rentables y productivas a los
            vendedores de todos los rubros y sus clientes.
        </p>
    </div>
</div>


<style>



    .jumbotron2 {
        background-color: #F0F7F7 !important;
        margin-right: -131px;
        margin-left: -133px;
        padding: 1px;
        margin-bottom: -285px;
    }


    .jumbotron {
        padding: 8rem 0;
        margin: -20px;
        color: #fff;
        background-color: #1D6B87;
        margin-right: -131px;
        margin-left: -132px;
    }

    .container .jumbotron, .container-fluid .jumbotron {
        border-radius: 0px;
    }
</style>
