@model HomeViewModel


@{
    ViewData["Title"] = "Home";
}

@section Breadcrumb {
    <li class="active"><strong>@ViewData["Title"]</strong></li>
}


 <div style="margin-left: -40rem;width: 190rem;margin-top: -15rem;margin-bottom: -30rem;height: 85rem;background-image: url('images/2020-05-07.jpg');"></div>