@model HomeViewModel


@{
    ViewData["Title"] = "Home";
}

@section Breadcrumb {
    <li class="active"><strong>@ViewData["Title"]</strong></li>
}


 <div style="margin-left: -63rem;width: 190rem;margin-top: -2rem;margin-bottom: -34rem;height: 94rem;background-image: url('images/2020-05-07.jpg');"></div>
