@model Ecommerce.ViewModels.Account.ChangePasswordViewModel

@{
    ViewData["Title"] = "Cambiar contraseña";
}

@section scripts{
    <script src="~/js/Account/Index.js"></script>
}

@section Breadcrumb {
    <li class="active"><strong>@ViewData["Title"]</strong></li>
}

<div class="row">
    <div class="col-md-6 pull-left" style="padding-bottom: 37px;">
        <h2 style="font-size: 264%;text-decoration: underline ;color:#002147; font-family:sans-serif">Cambiar contraseña</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="OldPassword" class="control-label required"></label>
                <input asp-for="OldPassword" class="form-control" type="password" id="oldpasswd">
                <span class="fa fa-eye eye-style" onclick="showHidePasswordOld()" id="eyePasswOld"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label required"></label>
                <input asp-for="NewPassword" class="form-control" type="password" id="newpassd" />
                <span class="fa fa-eye eye-style fa-lg"  onclick="showHidePasswordNew()" id="eyePasswNew"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPasswordConfirmation" class="control-label required"></label>
                <input asp-for="NewPasswordConfirmation" class="form-control" type="password" id="newpassconfirm" />
                <span class="fa fa-eye eye-style fa-lg"  onclick="showHidePasswordConfirm()" id="eyePasswConf"></span>
            </div>
            <div class="form-group btn-group">
                <input type="submit" value="Cambiar contraseña" class="btn btn-primary btn-create" />
            </div>
        </form>
    </div>
</div>


<style>
    .fa-eye-slash {
        position: relative;
        margin-left: 336px;
        top: -29px;
        font-size: 13px
    }

    .eye-style {
        position: relative;
        margin-left: 336px;
        top: -29px;
        font-size: 13px
    }
</style>