@model Ecommerce.ViewModels.Account.ChangePasswordViewModel

@{
    ViewData["Title"] = "Cambiar contraseña";
}

@section Breadcrumb {
    <li class="active"><strong>@ViewData["Title"]</strong></li>
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" type="password" id="oldPassword" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" type="password" id="newPassword" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPasswordConfirmation" class="control-label"></label>
                <input asp-for="NewPasswordConfirmation" class="form-control" type="password" id="newPasswordConfirmation" />
                <span asp-validation-for="NewPasswordConfirmation" class="text-danger"></span>
            </div>
            <div class="form-group btn-group">
                <input type="submit" value="Cambiar contraseña" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
