@model Ecommerce.ViewModels.Account.UserDataViewModel

        @{
            ViewData["Title"] = "Datos del usuario";
        }

        @section Breadcrumb {
        <li class="active"><strong>@ViewData["Title"]</strong></li>
        }

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label @*asp-for="Name"*@ class="control-label"></label>
                    <input value="Nombre" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label  class="control-label"></label>
                    <input value="Apellido" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label  class="control-label"></label>
                    <input value="Usuario" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label  class="control-label"></label>
                    <input value="Email" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label  class="control-label"></label>
                    <input value="Fecha de creacion" class="form-control" readonly />
                </div>
            </div>
        </div>
