@using Ecommerce.ViewModels.Lot;
@model CreateLotViewModel

@{
    ViewData["Title"] = "Crear";
}

@section scripts{
        <script src="~/js/Lot/Create.js"></script>
}

@section Breadcrumb {
    <li><a asp-action="Index" style="color:#002147">Lotes</a></li>
    <li class="active"><strong>@ViewData["Title"]</strong></li>
}

<h2 style="padding-bottom: 37px; text-decoration: underline ;color:#002147; font-family:sans-serif; font-size: 237%">Nuevo Lote</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateLot" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Descripcion" class="control-label required"></label>
                <input asp-for="Descripcion" class="form-control" autofocus maxlength="30" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Imagen</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" id="report-set">
                            <i class="fa fa-upload"></i>
                        </button>
                        <button type="button" class="btn btn-default" id="report-clear">
                            <i class="fa fa-times"></i>
                        </button>
                    </span>
                    <input asp-for="Imagen" type="file" class="hidden" accept=".jpg,.jpeg,.png,.gif,.jfif" />
                    <input type="text" class="form-control" id="report-name" readonly />
                </div>
                <span id="image-error" class="text-danger" hidden>No es formato jpg, jpeg, jfif, png, gif o el tamaño es muy grande</span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <input type="submit" value="Crear" class="btn btn-primary pull-left" />
                </div>
                <div class="col-md-6">
                    <a asp-action="Index" class="btn btn-default pull-right">Cancelar</a>
                </div>
            </div>

        </form>
    </div>
</div>
