@using Ecommerce.ViewModels.Lot
@model EditLotViewModel

@{
    ViewData["Title"] = "Editar";
}

@section scripts{
        <script src="~/js/Lot/Edit.js"></script>
}
@section Breadcrumb {
    <li><a asp-action="Index" style="color:#002147">Lotes</a></li>
    <li class="active"><strong>@ViewData["Title"]</strong></li>
}

<h2 style="padding-bottom: 37px; font-family:'Blippo'; font-size:295%; color:#676A6C">Editar Lote</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditLot" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="LotId" hidden />
            <input asp-for="FlagImage" hidden />

            <div class="form-group">
                <label asp-for="Description" class="control-label required"></label>
                <input asp-for="Description" class="form-control" autofocus maxlength="30" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Imagen</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" id="report-set">
                            <i class="fa fa-upload"></i>
                        </button>
                        <button type="button" class="btn btn-default" id="report-clear">
                            <i class="fa fa-times"></i>
                        </button>
                        <input asp-for="Image" type="file" class="hidden" accept=".jpg,.jpeg,.png,.gif,.jfif" />
                    </span>
                    <input asp-for="ImageName" type="text" class="form-control" id="report-name" readonly />
                </div>
                <span id="image-error" class="text-danger" hidden>No es formato jpg, jpeg, jfif, png, gif o el tamaño es muy grande</span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <input type="submit" style="background-color:#002147" value="Editar" class="btn btn-primary pull-left " />
                </div>
                <div class="col-md-6">
                    <a asp-action="Index" class="btn btn-default pull-right">Cancelar</a>
                </div>
            </div>

        </form>
    </div>
</div>
