@using Ecommerce.ViewModels.Article
@model IndexPublicViewModel

@{
    ViewData["Title"] = "Lotes";
}


@section Breadcrumb {
    <li><a asp-action="Index" asp-controller="Home" style="color:#002147">Home</a></li>
    <li class="active"><strong>@ViewData["Title"]</strong></li>
}

@section scripts{
    <script src="~/js/Article/IndexPublic.js"></script>
}


<div style="padding-bottom: 37px; ">
    <h2 style="padding-bottom: 37px; font-family: 'Blippo'; font-size: 295%; color:#676A6C">Descripcion del Lote</h2>
</div>

<table id="articles-table" class="table table-striped table-bordered table-hover table-responsive text-nowrap" style="width:100%"></table>

<div id="templates" hidden>
    <div id="article-actions-btn-group">
        <div class="btn-group" style="display:flex">
            <input id="auxiliar" value="_articleID_" class="hidden" />
            <i title="Aplicar" data-toggle="modal" data-target="#modalApply" id="btnApprove" class="fa fa-check btn btn-default btn-xs" item-id="_articleID_" style="color: #00A3A1 "></i>
            <i title="Desaplicar" data-toggle="modal" data-target="#modalUnApply" id="btnReject" class="fa fa-times btn btn-default btn-xs" item-id="_articleID_" style="color:#DA0C0C"></i>

        </div>
    </div>

    <div hidden>
        <div id="active-field">
            <span class="badge" style="background-color:#37B22C; color:white; font-size:smaller">Activo</span>
        </div>
    </div>


    <div id="id-column-title">ID</div>
    <div id="articleDescription-column-title">Descripción</div>
    <div id="type-column-title">Tipo</div>
    <div id="brand-column-title">Marca</div>
    <div id="price-column-title">Precio</div>
    <div id="serialNumber-column-title">Nro de serie</div>
    <div id="userCount-column-title">Usuarios interesados</div>
    <div id="actions-column-title">Acciones</div>

    <div id="are-you-sure">Confirmación</div>
    <div id="this-operation-can-not-be-revert">Al postularse a éste recibirá un correo electrónico con el proceso.</div>
    <div id="yes-text">Aceptar</div>
    <div id="no-text">Cancelar</div>
    <div id="success-text">Aplicado</div>
    <div id="btnsuccess-text">OK</div>
    <div id="approved">Aplicado correctamente</div>
    <div id="error-text">Error</div>
    <div id="couldnt-approve">Ocurrió un error al momento de realizar la solicitud</div>

    <div id="rejected">Rechazado</div>
    <div id="couldnt-rejected">Ocurrió un error al momento de realizar la solicitud</div>

    <div id="are-you-sure2">Confirmación</div>
    <div id="this-operation-can-not-be-revert2">¿Desea desaplicar para este articulo?</div>
    <div id="yes-text">Si</div>
    <div id="no-text">No</div>
    <div id="success-text2">Desaplicado</div>
    <div id="btnsuccess-text2">OK</div>
    <div id="approved2">Desaplicado correctamente</div>
    <div id="error-text">Error</div>
    <div id="couldnt-approve">Ocurrió un error al momento de realizar la solicitud</div>

</div>