@model Ecommerce.ViewModels.Login.LoginViewModel

@{
    Layout = null;
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<center>
    <div class="container">
        <div class="ro">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-content">
                        <center>
                            <h4>Bienvenido</h4>
                        </center>
                        <section>
                            <form asp-controller="Login" asp-action="Index" method="post">
                                <div asp-validation-summary="ModelOnly"></div>
                                <div class="input-field col s12">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" autofocus />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="input-field col s12">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <center>
                                    <button type="submit" id="btnLogn" class="waves-effect waves-light btn">Iniciar sesión</button>
                                </center>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>