@model Ecommerce.ViewModels.Account.TokenValidationViewModel


@{
    Layout = null;
}

@{
    ViewData["Title"] = "Restablecer contrase単a";
}


<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="icon" href="~/images/icons/favicon.ico" />
    <link rel="stylesheet" href="~/login/vendor/animate/animate.css" />
    <link rel="stylesheet" href="~/login/vendor/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/login/fonts/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="~/login/vendor/select2/select2.css" />
    <link rel="stylesheet" href="~/login/css/util.css" />
    <link rel="stylesheet" href="~/login/css/main.css" />
    <link rel="stylesheet" href="~/login/css/ResetPassword.css" />
    <link rel="stylesheet" href="~/libman/cdnjs/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/login/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" />
    <link rel="stylesheet" href="~/login/vendor/css-hamburgers/hamburgers.min.css" />
    <link rel="stylesheet" href="~/login/vendor/animsition/css/animsition.min.css" />
    <link rel="stylesheet" href="~/login/vendor/select2/select2.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">

                <form class="login100-form validate-form p-b-33 p-t-5" asp-controller="Login" asp-action="TokenValidation" method="post" id="tokenValidationForm">
                    <input asp-for="Email" type="hidden">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h2 style="padding-left:81px; color:#808182">Restablecer contrase単a</h2>
                    <div class="wrap-input100">
                        <input asp-for="Token" class="input100" type="text" placeholder="Token">
                        <span class="focus-input100" data-placeholder="&#xe81f;"></span>
                    </div>
                    <div class="wrap-input100">
                        <input asp-for="Password" class="input100" type="password" placeholder="Contrase単a nueva" >
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                        <span class="fa fa-eye eye-style fa-lg" style="margin-top:-8%;font-size: 12px;position: absolute;padding: 4px 1px;color: #666;margin-left: 90%;" onclick="showHidePasswordOld()" id="eyePasswOld"></span>

                    </div>
                    <div class="wrap-input100">
                        <input asp-for="ConfirmPassword" class="input100" type="password" placeholder="Confirmar contrase単a" >
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                        <span class="fa fa-eye eye-style fa-lg" style="margin-top:-8%;font-size: 12px;position: absolute;padding: 4px 1px;color: #666;margin-left: 90%;" onclick="showHidePasswordNew()" id="eyePasswNew"></span>

                    </div>
                    <div class="form-group buttons">
                        <div class="container-login100-form-btn m-t-32">
                            <a href="/login/Index" style="color:white;min-width:101px;text-decoration:none;height:36px;min-width: 101px;font-size: 13px;" class="login100-form-btn2">Volver</a>&nbsp;&nbsp;
                            <button type="submit" style="min-width: 101px;height:36px;min-width: 101px;font-size: 13px" class="login100-form-btn3" onclick="tokenValidationForm.submit();">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/libman/cdnjs/jquery/jquery.min.js"></script>
    <script src="~/login/vendor/jquery/jquery-3.2.1.min.js"></script>

    <script src="~/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/login/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/login/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/login/js/main.js"></script>

    <script src="~/js/Login/TokenValidation.js"></script>

    <script src="~/login/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/login/vendor/select2/select2.min.js"></script>
    <script src="~/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/login/vendor/bootstrap/js/popper.min.js"></script>

</body>
</html>
