@model Ecommerce.ViewModels.Users.CreateUserViewModel


@{
    ViewData["Title"] = "Crear";
}

@section scripts{
    <script src="~/js/User/CreateUser.js"></script>
    <script src="~/libman/cdnjs/bootstrap-toggle/js/bootstrap-toggle.js"></script>
}

@section Breadcrumb {
    <li><a asp-action="Index" style="color:#002147">Usuarios</a></li>
    <li class="active"><strong>@ViewData["Title"]</strong></li>
}

<h2 style="padding-bottom: 37px; text-decoration: underline ;color:#002147; font-family:sans-serif; font-size: 237%">Nuevo usuario</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUser" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User" class="control-label required"></label>
                <input asp-for="User" class="form-control" autofocus />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label required"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label required"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label required"></label>
                <input asp-for="Surname" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label required"></label>
                <input asp-for="Password" class="form-control" type="password" id="passwd"/>
                <span class="fa fa-eye eye-style fa-lg" onclick="showHidePassword()" id="eyePasswd"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsAdmin" class="control-label"></label>
                <br />
                <input asp-for="IsAdmin" data-toggle="toggle" data-on="Si" data-off="No" />
                <button type="button" class="btn btn-default" id="is-admin-toggle-button"><i class="fas fa-exchange-alt"></i></button>
            </div>
            <input type="submit" value="Crear" class="btn btn-primary pull-left" />
            <a asp-action="Index" class="btn btn-default pull-right">Cancelar</a>
        </form>
    </div>
</div>


<style>
    .fa-eye-slash {
        position: relative;
        margin-left: 336px;
        top: -29px;
        font-size: 13px
    }

    .eye-style {
        position: relative;
        margin-left: 336px;
        top: -29px;
        font-size: 13px
    }
</style>