@model Ecommerce.ViewModels.Users.DisableUserConfirmationViewModel


@{
    ViewData["Title"] = "Deshabilitar usuario";
}

@section Breadcrumb {
    <li><a asp-action="Index" style="color:#002147">Usuarios</a></li>
    <li class="active"><strong>@ViewData["Title"]</strong></li>
}

<p style="padding-bottom: 7px; text-decoration: underline ;color:#002147; font-family:sans-serif; font-size: 126%">¿Está seguro de desactivar el usuario?</p>

<form asp-action="DisableUser" method="post">
    @*<input asp-for="UserId" />*@
    <div class="form-group btn-group">
        <button type="submit" class="btn btn-primary">Desactivar</button>
        <a asp-action="Index" class="btn btn-default">Volver</a>
    </div>
</form>
