@model Ecommerce.ViewModels.Users.EditUserViewModel


@{
    ViewData["Title"] = "Editar";
}

@section scripts{
    <script src="~/js/User/EditUser.js"></script>
    <script src="~/libman/cdnjs/bootstrap-toggle/js/bootstrap-toggle.js"></script>
}


@section Breadcrumb {
    <li><a asp-action="Index" style="color:#002147">Usuarios</a></li>
    <li class="active"><strong>@ViewData["Title"]</strong></li>
}

<h2 style="padding-bottom: 37px; text-decoration: underline ;color:#002147; font-family:sans-serif; font-size: 237%">Editar usuario</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUser" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" autofocus />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <input asp-for="User" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsAdmin" class="control-label"></label>
                <br />
                <input asp-for="IsAdmin" data-toggle="toggle" data-on="Si" data-off="No" />
                <button type="button" class="btn btn-default" id="is-admin-toggle-button"><i class="fas fa-exchange-alt"></i></button>
                <span asp-validation-for="IsAdmin" class="text-danger"></span>
            </div>
            <input type="submit" value="Crear" class="btn btn-primary pull-left" />
            <a asp-action="Index" class="btn btn-default pull-right">Cancelar</a>

        </form>
    </div>
</div>
