@{
    ViewData["Title"] = "Usuarios";
}

@section scripts{
    <script src="~/js/User/Index.js"></script>
}

@section Breadcrumb {
    <li class="active"><strong>@ViewData["Title"]</strong></li>
}



<div class="row">
    <div class="col-md-6 pull-left">
        <h2 style="padding-bottom:37px;font-size: 264%;text-decoration: underline ;color:#002147; font-family:sans-serif">Listado de usuarios</h2>
    </div>
    <div class="col-md-6 pull-right">
        <div class="form-group btn-group pull-right" style="margin-top: 55px;margin-bottom: 10px;">
            <a asp-action="CreateUser" class="btn btn-primary"><i class='fa fa-plus-circle'>&nbsp;</i>Crear</a>
        </div>
    </div>
</div>

<table id="users-table" class="table table-striped table-bordered table-hover table-responsive text-nowrap" style="width: 100%"></table>


<div id="templates" hidden>
    <div id="user-actions-btn-group">
        <div class="btn-group" style="display: flex">
            <a asp-action="EditUser" asp-route-userId="_USERID_" class="btn btn-default btn-xs" style="color:white;background-color:#337ab7" title="Editar usuario">
                <i class="fas fa-pencil-alt"></i>
            </a>
            <a asp-action="EnableUserConfirmation" asp-route-userId="_USERID_" style="color:white;background-color:#337ab7" class="btn btn-default btn-xs btn-enable-user" title="Activar usuario">
                <i class="fa fa-toggle-on fa-fw"></i>
            </a>
            <a asp-action="DisableUserConfirmation" asp-route-userId="_USERID_" style="color:white;background-color:#337ab7" class="btn btn-default btn-xs btn-disable-user" title="Desactivar usuario">
                <i class="fa fa-toggle-off fa-fw"></i>
            </a>
        </div>
    </div>
    
    <div id="id-column-title">ID</div>
    <div id="username-column-title">Usuario</div>
    <div id="name-column-title">Nombre</div>
    <div id="surname-column-title">Apellido</div>
    <div id="mail-column-title">Mail</div>
    <div id="created-column-title">Creado</div>
    <div id="last-login-column-title">Ultimo ingreso</div>
    <div id="isadmin-column-title">Es administrador</div>
    <div id="enabled-column-title">Activado</div>
    <div id="actions-column-title">Acciones</div>

    <div id="yes-template">
        <i class="fa fa-check fa-fw"></i>
    </div>
    <div id="no-template">
        <i class="fa fa-times fa-fw"></i>
    </div>
    
</div>
