
/*Navbar*/
@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';

.navbar-brand {
    font-family: 'Montserrat';
    text-transform: uppercase
}

.navbar .nav {
    font-family: Corbel;
    text-transform: full-width;
    letter-spacing: 3px;
    font-size: 1.4rem
}

.navbar-inverse {
    background-color: #1e3976
}

    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        background-color: #1e3976
    }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #1e3976
    }

.dropdown-menu {
    background-color:transparent;
    font-family: 'Corbel';
}

    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        background-color: aliceblue;
        color:transparent;
    }

.navbar-inverse {
    background-image: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-image: none;
}

.navbar-inverse {
    border-color: #3884D1
}



#go-to-top-btn {
    opacity: 1;
    font-size: 13px;
    background-color: #007bff;
    padding: 15px;
    position: fixed;
    bottom: 96px;
    right: 4px;
    border-color: #5369bb;
    border-radius: 48px;
}

body {
    padding-top: 0px;
}

.required:after {
    content: " *";
    font-weight: bold;
    color: #e81123;
}

#swal2-content {
    font-size: 16px;
}

/* Propiedades del swal (MODAL)*/
.swal2-styled.swal2-confirm {
    font-size: 14px !important;
}

.swal2-styled.swal2-cancel {
    font-size: 14px !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #337ab7
}

.input-sm {
    border-radius: 65px;
}

.select2-results__option--highlighted {
    background-color: #337ab7 !important;
}

.table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #337ab7 !important;
}


/*.btn-primary {


    @include btn-variant(#1e88e5, #64b5f6, #42a5f5, #bbdefb, #e3f2fd, #90caf9, #1976d2);
    &.btn-flat

    {
        @include btn-flat(#1e88e5, #64b5f6, #42a5f5, #bbdefb, #e3f2fd, #90caf9);
    }
}*/
