
/*Navbar*/
@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';

.navbar-brand {
    font-family: 'Montserrat';
    text-transform: uppercase
}

.navbar .nav {
    font-family: Corbel;
    text-transform: full-width;
    letter-spacing: 3px;
    font-size: 1.4rem
}

.navbar-inverse {
    background-color: #1e3976
}

    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        background-color: #1e3976
    }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #1e3976
    }

.dropdown-menu {
    background-color:transparent;
    font-family: 'Corbel';
}

    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        background-color: aliceblue;
        color:transparent;
    }

.navbar-inverse {
    background-image: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-image: none;
}

.navbar-inverse {
    border-color: #3884D1
}



#go-to-top-btn {
    opacity: 1;
    font-size: 13px;
    background-color: #007bff;
    padding: 15px;
    position: fixed;
    bottom: 96px;
    right: 4px;
    border-color: #5369bb;
    border-radius: 48px;
}

body {
    padding-top: 0px;
}

.required:after {
    content: " *";
    font-weight: bold;
    color: #e81123;
}

#swal2-content {
    font-size: 16px;
}

/* Propiedades del swal (MODAL)*/
.swal2-styled.swal2-confirm {
    font-size: 14px !important;
}

.swal2-styled.swal2-cancel {
    font-size: 14px !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #337ab7
}

.input-sm {
    border-radius: 65px;
}

.select2-results__option--highlighted {
    background-color: #337ab7 !important;
}

.table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #337ab7 !important;
}

.dropdown-menu{
    left:-27px;
}

.navbar .dropdown-menu {
    background: #9C8F8C
}

.owl-theme .owl-nav [class*='owl-'] {
    margin-left: 1em !important;
    margin-right: 1em !important;
}

.owl-theme .owl-nav {
    margin-top: 37px;
}

.img-thumbnail {
    width: 170px;
    height: 170px;
}

#employee-table_wrapper {
    padding-top: 151px;
}

.btn-create {
    color: white;
    background-color: #449ED3 !important;
    border: none;
    font-family: Arial;
    font-size: 95%;
    font-weight: bold;
    margin: 1em 0px;
}

.btn-create:hover {
    color: white;
    background-color: #2FCDC9 !important;
    border: none;
    font-family: Arial;
    font-size: 95%;
    font-weight: bold;
    margin: 1em 0px;
}

button.swal2-confirm.swal2-styled {
    background-color: #449ED3 !important;
}

button.swal2-cancel.swal2-styled {
    background-color: #F5552F !important;
}
